<cui-container>
    <cui-row class="tile colors">
        <cui-column column-size="3">
            <cui-block class="yellow">
                <h4 class="tile-title">FOCUS TRs</h4>
                <p class="tile-counter">{{focusTRs}}</p>
            </cui-block>
        </cui-column>
        <cui-column column-size="3">
            <cui-block class="skyblue">
                <h4 class="tile-title">BREACHED TRs</h4>
                <p class="tile-counter">{{breached}}</p>
            </cui-block>
        </cui-column>
        <cui-column column-size="3">
            <cui-block class="light-pink">
                <h4 class="tile-title">ABOUT TO BREACH TRs</h4>
                <p class="tile-counter">{{aboutToBreach}}</p>
            </cui-block>
        </cui-column>
        <cui-column column-size="3">
            <cui-block class="light-green">
                <h4 class="tile-title">UNASSIGNED</h4>
                <p class="tile-counter">{{unassigned}}</p>
            </cui-block>
        </cui-column>
    </cui-row>
    <cui-row>
        <cui-column column-size="12">
            <mhweb></mhweb>
        </cui-column>
    </cui-row>
</cui-container>